<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Simple E-commerce</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">The Virtual Fitting Room application provides a seamless online experience for trying on and designing clothing. It includes a Stitching Virtual Trial Room for visualizing unstitched cloth as a tailored outfit, a Ready-made Dress Virtual Trial Room for seeing yourself in catalog items, a Designers Catalog to browse and contact fashion designers, and an Outfit Design Generator to create custom looks based on color and garment type. This platform enhances online shopping by letting users preview fits, customize designs, and connect with designers all in one place.
</h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>
<!--
developed By : sumit kumar
-->

</html>
